<% include ./partials/boilerplate %>
<div class = welcome page>
  <div class="welcome">
    <h2><%= documentTitle %></h2>
    <h3><%= subTitle %></h3>
    <img src= "images/cat.png" />
    <h6><%= message %></h6>
  </div>
</div>

<div class = 'seeCats'>
  <a href='/cats_routes'>See all the cats</a>
</div>
<% include ./partials/footer %>

