<% include ../partials/boilerplate %>

  <div class = 'test'>
    <% for (let cat of cats) { %>
    <div class='cats'>
      <h4><%= cat.cat_name %></h4>
    <a href='/cats_routes/<%= cat.id%>'>Curious about this cat?</a>
    </div>
    <% } %>
  </div>

<a href="/cats_routes/new">Don't see your favorite feline? Add a brand new cat to the collection here!</a>

<% include ../partials/footer %>
