<form method="POST" action="/cats_routes">

  <input name="cat_name" type="text" placeholder="Your movie cat" />
  <input name="cat_description" type="text" placeholder="cat description" />
  <input name="cat_breed" type="text" placeholder="cat breed" />
  <input name="movie_name" type="text" placeholder="movie" />

  <input type="submit" value="Add your cat" />
</form>
