<form method="POST" action="/cats">

  <input name="content" type="text" placeholder="Your movie cat" />
  <input name="cat description" type="text" placeholder="cat description" />
  <input name="cat breed" type="text" placeholder="cat breed" />
  <input name="movie name" type="text" placeholder="movie" />

  <input type="submit" value="Add your cat" />
</form>
